@import '../exports/color';

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: color(text-primary);
}

a {
  &:link {
    color: color(text-ternary);
  }
  &:visited {
    color: color(text-ternary);
  }
  &:hover {
    color: darken(color(text-ternary),20);
  }
  &:focus{
    color: darken(color(text-ternary),20);
  }
  &:active {
    color: darken(color(text-ternary),20);
  }
}